.widget{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.widget > div {

    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

.preview-box, .preview-box div {
    height: 150px;
}
.preview-box {
    background: url('/assets/img/bg.svg');
}



label{
    display: inline-block;
    width: 100px;
    margin: 5px;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(45, 45, 133);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
}

.col-6 {
    width: 50%;
}